h1{
    text-align: center!important;
}
section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center!important;
    justify-content: center;
}
section h2{
    width: 100%!important;
    text-align: center!important;
}
section p{
    width: 100%;
    text-align: center;
}
section p span{
    background-color:rgba(238, 255, 0, 0.7);
}
#tableau_de_bord{
    width: 60%;
    height: 300px;
}
#tableau_de_bord img{
    width: 70%;
    height: auto;
}

/* PRODUIT */

#prduits{
    width: 60%;
    height: 300px;
}
#produits img{
    width: 70%;
    height: auto;
}
#produit-text{
    padding-left: 200px;
    padding-right: 200px;
}
#slider_img{
    width: 60%;
    height: auto;
}
#slider_img img{
    width: 30%;
    height: auto;
}
#new_slider{
    width: 60%;
    height: auto;
    overflow: hidden;
}
#new_slider img{
    width: 100%;
    height: auto;
}
#modif_slider{
    width: 60%;
    height: 615px;
    overflow: hidden;
}
#modif_slider img{
    width: 100%;
    height: auto;
}
#menu_produits{
    width: 60%;
    height: 300px;
}
#menu_produits img{
    width: 30%;
    height: auto;
}
#add_product{
    width: 60%;
    height: 300px;
}
#add_product img{
    width: 100%;
    height: auto;
}
#product_data_1{
    width: 60%;
    height: 300px;
}
#product_data_1 img{
    width: 100%;
    height: auto;
}
#product_data_2{
    width: 60%;
    height: 300px;
}
#product_data_2 img{
    width: 70%;
    height: auto;
}
#product_data_3{
    width: 60%;
    height: 300px;
}
#product_data_3 img{
    width: 70%;
    height: auto;
}
#product_data_4{
    width: 60%;
    height: 300px;
}
#product_data_4 img{
    width: 70%;
    height: auto;
}
#product_data_5{
    width: 60%;
    height: 300px;
}
#product_data_5 img{
    width: 70%;
    height: auto;
}
#contact_img{
    width: 60%;
    height: auto;
}
#contact_img img{
    width: 100%;
    height: auto;
}